@media only screen and (max-width: 1200px) {
	.filters {
		padding: 0 20px;
		display: none;
	}

	.catalog-page {
		grid-template-columns: 1fr;
		// margin: 10px auto 50px;
	}

	.section-title.mobile-only {
		margin: 10px;
		display: block;
	}

	.top-links.mobile-only {
		display: flex;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 800px) {
	.catalog-page-container {
		margin: 40px 10px;
	}

	.catalog-page {
		gap: 10px;
	}

	.catalog-items {
		gap: 80px 10px;
		grid-auto-rows: unset;

		.catalog-item {
			img {
				width: 300px;
			}
		}
	}
}

@media only screen and (max-width: 650px) {
	.catalog-items {
		.catalog-item {
			.catalog-img-wrapper {
				padding: 10px;
			}

			img {
				width: 150px;
			}
		}
	}
}
