@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@font-face {
	font-family: "Unison";
	src: url("/assets/font/unison.otf") format("opentype");
}

* {
	font-family: "Lato", sans-serif;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 10px;
	border: 4px none #ffffff;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.uppercase {
	text-transform: uppercase;
}

.font-bold {
	font-family: "Syncopate", sans-serif;
}

button {
	cursor: pointer;
}
