//top of page
.header-container {
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;

	h1 {
		font-size: 2.5rem;
		margin: 0;
	}
}

//buttons at top portion of page
.top-links {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		width: calc(100% - 40px);
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
		align-items: center;
		background-color: transparent;
		border: 2px solid #333;
		border-right: none;
		border-left: none;
		color: #000;

		&:first-child {
			border-right: 2px solid #333;
			// margin-right: 3px;
		}

		&:hover {
			img {
				scale: 1.2;
			}
		}

		img {
			width: 40px;
			transition: 0.2s scale ease-in-out;
		}
	}
}

//title of each sections
.section-title {
	font-size: 2.5rem;
	padding-left: 10px;
	text-transform: uppercase;
	padding: 0;

	&.pop {
		padding: 0 40px;
	}

	span {
		margin-right: 50px;
	}
}

//description with slash
.slash-description {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// font-weight: 600;

	span {
		font-size: 2rem;
		margin-right: 30px;
		font-weight: 500;
	}
}

a {
	color: #000;
	text-decoration: none;
}

//popular products section styling
.popular-products {
	margin: 0 40px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 200px);
	margin: 10px auto 50px;
	gap: 20px;
	max-width: 1500px;

	img {
		width: 100%;
		height: 100%;
		margin: 0;
		object-fit: cover;
	}

	.product-1 {
		grid-column: 1 / 3;
		grid-row: span 4;
	}

	.product-2 {
		justify-self: start;
		grid-row: span 1;

		img {
			object-fit: contain;
		}
	}

	.product-3 {
		grid-column: 5 / 7;
		grid-row: span 3;
	}
}

.product-name {
	text-transform: uppercase;
	margin: 5px 0;
	// font-weight: 600;
	font-size: 0.9rem;
}

.product-price {
	margin: 0;
	font-weight: 600;
	font-size: 0.86rem;
}

.product-4 {
	grid-column: 3 / 5;
	grid-row: 3 / 5;
	align-self: end;
	// height: 100%;

	button.special {
		margin-top: 30px;
		border-radius: 30px;
		border: 2px solid #333;
		justify-content: center;
		padding: 5px 0;
		transition: 0.3s all ease-in-out;

		&:hover {
			background-color: #000;
			color: #fff;
		}

		p {
			margin: 0;
		}
	}
}

.list-links {
	h3 {
		font-size: 1.5rem;
		margin: 10px 0;
		border-bottom: 2px solid #333;
		padding-bottom: 10px;
		width: calc(100% - 40px);
	}

	button {
		width: calc(100% - 40px);
		display: flex;
		justify-content: space-between;
		padding: 0 20px 0 0;
		align-items: center;
		background-color: transparent;
		border: none;
		color: #000;
		border-bottom: 2px solid #333;

		p {
			font-size: 1rem;
			// font-weight: 600;
		}

		img {
			width: 30px !important;
			transition: 0.2s scale ease-in-out;
		}

		&:hover {
			img {
				scale: 1.2;
			}
		}
	}
}

// iconic shapes section styling
.iconic-shapes {
	margin: 100px 40px 50px;
}

.shapes-items {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	max-width: 1500px;

	img {
		width: 100%;
	}

	.shapes-1 {
		grid-row-start: 2;
		align-self: end;
	}

	.shapes-2 {
		grid-column: 3 / 5;
		grid-row: span 2;
		width: 75%;
		justify-self: end;
	}
}

.shapes-wrapper {
	p {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// font-weight: 600;

		span {
			font-size: 2rem;
			margin-right: 30px;
			font-weight: 500;
		}
	}

	&.shapes-2 {
		p {
			margin-left: auto;
			width: 70%;
		}
	}
}

.shapes-img-cont {
	position: relative;
	z-index: 0;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 3rem;
		color: #fff;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
	}
}

.more-shapes {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 300px;
	max-width: 1500px;

	img {
		max-width: 300px;
		height: 100%;
		object-fit: cover;
	}

	.list-links {
		align-self: end;
	}

	.more-1 {
		justify-self: end;
		// width: 75%;
		grid-column: 3 / 4;
	}

	.more-2 {
		grid-column: 4 / 5;
		grid-row: span 2;
		// width: 75%;
		justify-self: end;
	}
}

//sales section
.sale {
	margin: 100px 40px 50px;
}

.sale-header {
	display: flex;
	align-items: center;

	&.product {
		display: block;

		.btn-container {
			margin: 20px 40px 20px 0;
		}
	}

	.btn-container {
		margin: 0 40px;

		button {
			width: 60px;
			margin: 0 5px;
			background-color: transparent;
			border: none;

			img {
				width: 100%;

				&.arrow-right {
					rotate: 45deg;
				}

				&.arrow-left {
					rotate: -135deg;
				}
			}
		}
	}
}

.sale-items {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
	scroll-behavior: smooth;
	max-width: 1500px;
	margin: 0 auto;

	a {
		color: #000;
		text-decoration: none;
		height: 350px;
		width: 270px;
		margin: 5px 10px;
	}
}

.sale-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.product-name,
	.product-price {
		font-size: 0.86rem;
	}

	.sale-img-container {
		background-color: #efefef;
	}

	img {
		mix-blend-mode: multiply;
		height: 200px;
		width: 200px;
		padding: 40px;
		// outline: 3px solid #f2f2f2;
	}
}

//clothing page section
.clothing {
	margin: 100px 40px 50px;
}

.clothing-grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(2, 200px);
	place-content: center;
	margin: 20px auto 100px;
	max-width: 1500px;
	justify-items: start;
	gap: 20px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.cloth-1 {
		grid-column: span 2;
		grid-row: span 2;
		height: 70%;
		justify-self: end;
	}

	.cloth-2 {
		grid-column: span 2;
		grid-row: span 2;
		height: 85%;
		width: 100%;
	}

	.cloth-3 {
		height: 80%;
	}

	.cloth-4 {
		grid-column: 7 / 9;
		grid-row: span 2;
		height: 70%;
		justify-self: end;
	}
}
